@import url('https://fonts.googleapis.com/css?family=Arvo');

:root {
  --white: #fefefe;
  --nav-background: rgba(100,128,210, .9);
  --nav-button: rgb(100,128,210)
}

.hidden {
    visibility: hidden;
  }
