@import url('https://fonts.googleapis.com/css?family=Arvo');

:root {
  --white: #fefefe;
  --nav-background: rgba(100,128,210, .9);
  --nav-button: rgb(100,128,210)
}

#primary-map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.hidden {
  visibility: hidden;
}
